<h1>Editing student</h1>

<%= render "form", student: @student %>

<div>
  <button><%= link_to "Display", @student %></button> |
  <button><%= link_to "Back to students", students_path %></button>
</div>
